{% extends'::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/css/bootstrap.min.css" />
{#<link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/jumbotron.css" />#}
{% endblock stylesheets %}

{% block javascripts_head %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock javascripts_head %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
{% endblock javascripts_body %}

{% block body %}
    <div class="container-fluid">
    {%  include 'TechCorpFrontBundle:_components:navigation.html.twig' %}
    {% block content %}
    {% endblock content %}
    </div>
{% endblock %}
