<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/css/bootstrap.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {#
        {% javascripts '@TechCorpFrontBundle/Resources/public/js/*'
            filter='uglifyjs' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        #}

    </head>
    <body>
    {# {{ render(controller('FOSUserBundle:Security:login')) }}  #}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/js/jquery-3.3.1.min.js"></script>
            <script src="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/js/bootstrap.min.js"></script>
            <script src="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/js/manage-friends.js"></script>
        {% endblock %}
    </body>
</html>



